<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= file.filename %></title>
    <style>
        textarea {
            width: 75%;
            height:600px; 
        }
    </style>
</head>
<body>
    <h1><%= file.filename %></h1>
    <p><b>Created by: </b> <%= file.fileOwner %></p>
    <textarea id="formatted-input" readonly><%= file.content %></textarea>
</body>
<script>
let formattedInput = document.getElementById("formatted-input").value.replace(/\n,/g, "\n")

document.getElementById("formatted-input").value = formattedInput

</script>
</html>