<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/v1/files.css">
    <title>Document</title>
    <style>
         

    </style>
</head>
<body>
  <input type="text" id="searchInput" onkeyup="searchList()" placeholder="Search for a file...ðŸ”"/>
  <div id="documents">
    <% files.files.map((elm, i) => { %>
        <div class="card" onclick="window.location.href = '/files/<%= elm.id %>'">
        <!-- <a href=/files/<%= elm.id %>><%= elm.path %></a> -->
        <h2><%= elm.path %></h2> 
        </div>
    <% }) %>
  </div>

  <script>
    function searchList() {
  // Declare variables
  let input, filter, divs, lis, txtValue;
  input = document.getElementById('searchInput');
  filter = input.value.toUpperCase();
  divs = document.getElementById('documents').getElementsByTagName('div');

  // Loop through all divs, and loop through their li children, and hide those that don't match the search query
  for (let i = 0; i < divs.length; i++) {
    lis = divs[i].getElementsByTagName('h2');
    for (let j = 0; j < lis.length; j++) {
      txtValue = lis[j].textContent || lis[j].innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        divs[i].style.display = '';
      } else {
        divs[i].style.display = 'none';
      }
    }
  }
}
  </script>
</body>
</html>