<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        

        @import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');
        textarea {
            width: 75%;
            height:600px; 
            font-size: 14px;
  line-height: 1.5;
  padding: 10px;
  background-color: #1E1E1E;
  color: #EFEFEF;
  border: 1px solid #5F5F5F;
  border-radius: 5px;
        }

        * {
            font-family: 'Balsamiq Sans', cursive;
            background-color: #202020;
            color: white;
        }

        input[type=submit] {
            padding: 10px 20px;
  background-color: #1E90FF;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
        }

        input[type=submit]:hover {
            background-color: #0066CC;
        }

        input[type="text"] {
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  color: #f0f0f0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  width: 50%;
}

input[type="text"]:focus {
  outline: none;
  border-color: #1E90FF;
  box-shadow: 0px 0px 10px rgba(30, 144, 255, 0.4);
}
    </style>
</head>
<body>
    <textarea id="formatted-input" readonly>
        <%= file %>
    </textarea>

    <h1>Import and Save this file to your sandbox</h1>
    <form id="form">
        <input type="text" id="fileTitle" name="fileTitle" placeholder="Name your file" required/>
        <input type="submit"/>
    </form>
    <p id="error_body"></p>

    <script>
       let formattedInput = document.getElementById("formatted-input").value.replace(/\n,/g, "\n")
       document.getElementById("formatted-input").value = formattedInput

       const fileTitle =document.getElementById("fileTitle")

       async function importFile(e) {
        e.preventDefault()
        const response = await fetch('/api/v1/import/file', {
            method:"post",
            body:JSON.stringify({
                fileTitle: fileTitle.value,
                codeScript: formattedInput
            }),
            headers:{
                "Content-Type":"application/json"
            }
        })

        const finalResponse = await response.json()
        const errorBody = document.getElementById("error_body")

        if(finalResponse.message){

            errorBody.innerHTML = finalResponse.message + ` <b>(This error was most likely caused because you already have a file with the same title)</b>`
        } else if(finalResponse.success){
            errorBody.innerHTML = `<b>${finalResponse.success}</b>`
        }
       }
        
       const form = document.getElementById("form")

       form.addEventListener("submit", importFile)

       
    </script>
</body>
</html>