<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to the CMU Code Share Application</h1>
    <p>Made by <a href="https://www.instagram.com/damodar_kamanii/"><b>@dom</b></a></p>
    <p>(Still in development)</p>
    <a href="/login">Login</a>
    <br />
    <br />
    <a href="/files/user">Files</a>
    <br />
    <br />
    <a href="/api/v1/user/get-shared-files">View files shared to you</a>
</body>
</html>